/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 de ago. de 2023, 11:40:46
    Author     : italo
*/

@charset "UTF-8";

body {
    font-size: 1em;
    font-weight: 400;
}

h1 {
    color: #66bbff;
}

.Botao1 {
    text-decoration: none;
    background-color: #66bbff;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
}